<div class="list_event header" id="event_header">
	<div class="name">Rendezvény neve</div>
	<div class="date">Dátum</div>
	<div class="owner">Főrendező</div>
	<div class="phone">Telefon</div>
	<div class="status">Állapot</div>
</div>